*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Background_Logo{
   background-image: url(C:\Users\thefa\OneDrive\Desktop\Boolean\Esercizi\html-css-booleaner\img\pattern.png);
}

.Logo{
    width: 150px;
    height: 150px;
}

.write_by{
    color: grey;
}

.Text_light_blue{
    color: lightblue;
}

.tim_img{
    padding-top: 10px;
}

.text_bottom_jim{
    font-size: 10px;
}

.first_text{
    padding: 20px 0 20px 0;

}

.text_yellow_background{
    background-color: yellow;
}

.unorder_list{
    padding-left: 20px;
    padding-bottom: 20px;
}

td{
    padding: 10px 0px 10px 0px;
  
}

.table{
    text-align: left;
}