*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
header{
    height: 100px;
}

.Background_Logo{
   background-image: url('../img/pattern.png');
   background-color: lightskyblue;
   background-size: 350px;
   
}

.Logo{
    width: 150px;
    padding-top: 50px;
}

/* fine header */

/* main */

h1{
    font-size: 50px;
}
.text_grey{
    color: grey;
}

.Text_light_blue{
    color: lightblue;
}

.tim_img{
    padding-top: 10px;
}

.text_bottom_jim{
    font-size: 10px;
}

.general_text{
    padding: 20px 0 20px 0;

}

.text_yellow_background{
    background-color: yellow;
}

ul{
    padding-left: 20px;
    padding-bottom: 20px;
}

table{
     border-spacing: 0px;
     text-align: left;
        
}

th{
    background-color: rgb(0, 100, 139);
    color: white;
}

.text{
    width: 50%;
}

.background_light_blue{
    background-color: aquamarine;
    
}

.immagine{
    background-size: cover;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 10px 10px;
}


.monitor{
     background-image: url('../img/monitor.jpg');
}

.white_text{
    color: white;
}

.grafico{
    background-image: url('../img/graph.jpg');
}